<div class="container">
    <div class="card">
        <h1>Country Quiz</h1>
        <app-navbar />
        <section>
            <p class="question">{{questions[questionId-1]?.question}}</p>
            <div class="options" (click)="seeOptions($event)">
                @for(question of questions[questionId-1]?.options; track $index+1) {
                    @if(questions[questionId -1].questionNuber !== 3){
                        <button class="button">{{question.name.common}}
                        </button>
                    }@else {
                        <button class="button">{{question.capital || question.name.common}}</button>
                    }
                }
            </div>
        </section>
    </div>
</div>